@model List<cats>
@if (TempData["ok"] != null)
{
    <h2>@TempData["ok"]</h2>
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <div class="row">
    <div class="container">
        <div class="row pt-3">

            <div class="col-6">

                <h2>Category List</h2>
            </div>

            <div class="col-6" text-end>
               
                <a asp-area="" asp-controller="Category" asp-action="Create">
                    <div class="btn btn-primary">
                        <i class="bi bi-plus-circle-dotted"></i> click here to create 
                    </div>

                </a>
            </div>

        </div>
    </div>
</head>
<body>
    <div class="container mt-5">

        <!-- Table with Bootstrap styling -->
        <table class="table table-hover">
            <thead class="thead-light">
                
                    <tr>
                        <th>Name</th>
                        <th>DisplayOrder</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                
            </thead>
            <tbody>
                @foreach (var data in Model)
                {
                <tr>
                    <td>@data.name</td>   
                    <td>@data.displayorder</td>
                    <td>
                            <a asp-controller="category" asp-action="Edit" asp-route-id="@data.id"> <i class="bi bi-pencil-square"></i> </a>
                    </td>
                        <td>
                            <a asp-controller="category" asp-action="Delete" asp-route-id="@data.id"> <i class="bi bi-trash3"></i> </a>
                        </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
    
</body>
</html>